doctype html
html
  head

    title #{title}
  body
    h1 #{title}
     br
    a(href="http://localhost:3000/") Return to the homepage
    br
    form(action="/update-cobj" method="POST")
      label(for="age") Age:
      input(type="number" name="age" required)
      br
      label(for="animal") Animal:
      input(type="text" name="animal" required)
      br
      label(for="name") Name:
      input(type="text" name="name" required)
      br
      button(type="submit") Submit